.navbar{
    color: white;
    display: flex;
    overflow-x:scroll ;
    padding:10px;
    padding-left: 40px;
}

.navbar > h3{
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    text-transform: capitalize;
    opacity: 0.7;
    transition: transform 90ms ease-out;
}

.navbar >h3:hover{
    opacity: 1;
    transform:scale(1.2);
}



.navbar::-webkit-scrollbar{
    display: none;

}

.navbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}