@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
  margin:0;
  font-family: 'Cabin', sans-serif;
}

:root{
  --maincolor: coral; 
}

.app{
  background-image: linear-gradient(to right,#1c0521,#500757);
}